body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.contacts-list-link:hover {
  color: #404bbf;
}

.contacts-list-link:focus {
  color: #404bbf;
}

.hero-btn-order:hover {
  background-color: #404bbf;
}

.hero-btn-order:focus {
  background-color: #404bbf;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------HEDER---------------- */

.heder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.container-heder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heder-nav {
  display: flex;
  align-items: center;
}

.heder-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.header-webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.heder-list {
  display: none;
}

.contacts {
  display: none;
}

.contacts-list {
}

.contacts-list-item {
}

.btn-mob-menu {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* -----------------------mob-menu------------------------ */
.mob-menu {
  width: 100%;
  height: 640px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 0 24px 40px 16px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-btn-x {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu-x {
  fill: #2e2f42;
}

.mob-btn-x:hover,
.mob-btn-x:focus {
  background-color: #404bbf;
  border: none;
}

.mob-btn-x:hover .icon-menu-x,
.mob-btn-x:focus .icon-menu-x {
  fill: #ffffff;
}

.icon-menu-x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list {
  margin-top: 72px;
  margin-bottom: 168px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list-item:hover,
.mob-list-item:focus {
  color: #404bbf;
}

.mob-contacts {
  margin-bottom: 48px;
}

.mob-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-contacts-list-item {
}

.mob-contacts-list-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-list-link:hover,
.mob-contacts-list-link:focus {
  color: #404bbf;
}

.mob-soc {
}

.mob-soc-list {
  display: flex;
  gap: 40px;
}

.mob-soc-item {
  width: 40px;
  height: 40px;
}

.mob-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-icon {
  fill: #f4f4fd;
}

.mob-soc-link:hover,
.mob-soc-link:focus {
  background-color: #31d0aa;
}

/* ---------------------------------- */

/* -----------------main-------------------- */

/* -----------------hero---------------- */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob-2x.jpg);
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 52px;
  margin-bottom: 80px;
}

.hero-btn-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------------- */

/* --------------feature----------------- */

.feature {
  padding: 96px 0;
}

.icon-feature {
  background-color: #404bbf;
  display: flex;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.feature-item {
  width: 100%;
}

.feature-box-icon {
  display: none;
}

.feature-icon {
}

.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------------------------- */

/* ----------------team----------------- */

.team {
  padding: 120px 0 120px;
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.team-item {
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-image {
}

.name {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.soc-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  min-width: 232px;
  margin-top: 8px;
}

.soc-icons-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:focus,
.soc-link:hover {
  background-color: #404bbf;
}

.soc-link-icon {
  fill: #f4f4fd;
}

/* ---------------------------------- */

/* -------------portfolio--------------------- */

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 56px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 64px;
}

.portfolio-item {
  width: 100%;
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------------------------- */

/* ----------footer------------------ */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-soc-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.footer-container {
  width: 100%;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.soc-container {
  margin-top: 72px;
  margin-bottom: 72px;
}

.footer-soc-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subcribe {
}

.subcribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.form-subcribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.subcribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  padding-left: 10px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}

.subcribe-input::placeholder {
  color: #ffffff;
}

.subcribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-right: 64px;
  padding-left: 24px;
  max-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcribe-btn:hover,
.subcribe-btn:focus {
  background-color: #404bbf;
}

.subckribe-btn-svg {
  position: absolute;
  top: 10px;
  right: 24px;
  fill: #fff;
  margin-left: 16px;
}

/* ---------------------------------- */

/* -----------------backdrop----------------- */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-x {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-x:hover,
.modal-btn-x:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-x:hover .modal-svg-x,
.modal-btn-x:focus .modal-svg-x {
  fill: #ffffff;
}

.modal-svg-x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  width: 256px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-input {
  margin-bottom: 8px;
}

.form-line {
  position: relative;
}

.model-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.model-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus {
  border-color: #4d5ae5;
}

.model-input:focus + .model-svg-form {
  fill: #4d5ae5;
}

.model-svg-form {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment {
  margin-bottom: 16px;
}

.form-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-text::placeholder {
}

.form-text:focus {
  border-color: #4d5ae5;
}

.form-input-checkbox {
  margin-bottom: 24px;
}

.policy-form {
}

.policy-form:focus + .check-text span {
  border-color: #4d5ae5;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  display: flex;
}

.span-polisy {
}

.p-policy {
  line-height: 1.34;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.span-yes {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.policy-form:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.model-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin-left: 44px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover,
.model-btn:focus {
  background-color: #404bbf;
}

/* ---------------------------------- */

/*! -------------------768------------------------ */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* -----------------heder--------------- */

  .heder-list {
    display: flex;
    gap: 40px;
  }

  .heder-link {
    margin-right: 120px;
  }

  .heder-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .underlined {
    position: relative;
    color: #404bbf;
  }

  .underlined::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .heder-list-item:hover,
  .heder-list-item:focus {
    color: #404bbf;
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-list-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-mob-menu {
    display: none;
  }

  /* -----------------hero---------------- */
  .hero {
    padding-top: 109px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab-2x.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  /* ---------------feature------------------- */
  .feature-list {
    gap: 72px 24px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-subtitle {
    text-align: left;
  }

  /* ----------------team--------------------- */
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }

  .team-item {
    width: 264px;
    height: 428px;
  }

  /* -------------portfolio--------------------- */
  .portfolio-title {
    margin-bottom: 72px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
  }

  .portfolio-item {
    width: 356px;
  }

  /* --------------------footer------------------ */
  .footer {
  }

  .footer-soc-container {
    flex-wrap: wrap;
    flex-direction: unset;
  }

  .footer-container {
    width: 264px;
    margin-right: 24px;
    margin-left: 108px;
  }

  .footer-link {
    display: inline-block;
  }

  .soc-container {
  }

  .footer-soc-subtitle {
    justify-content: left;
  }

  .footer-subcribe {
    margin-left: 108px;
  }

  .subcribe-text {
    justify-content: start;
  }

  .subcribe-input {
    width: 264px;
  }

  .form-subcribe {
    flex-direction: row;
    gap: 24px;
  }

  /* --------------------backdrop------------------ */
  .backdrop {
  }

  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .modal-title {
    width: 360px;
    height: 24px;
  }

  .model-btn {
    margin-left: 95px;
  }
}

/*! ----------------------1158----------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* -----------------heder------------------- */

  .heder-link {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-list-link {
    font-size: 16px;
    line-height: 1.5;
  }

  /* -----------------hero-------------------- */
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-2x.jpg);
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ---------------feature------------------- */
  .feature {
    padding: 120px 0;
  }

  .feature-list {
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .feature-box-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
  }

  .feature-text {
    font-weight: 400;
  }

  /* ----------------team--------------------- */
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /* -------------portfolio--------------------- */
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* ------------------footer------------------ */
  .footer {
    padding: 100px 0;
  }

  .footer-soc-container {
    flex-direction: row;
    align-items: baseline;
    margin: 0 auto;
  }

  .footer-container {
    margin-right: 120px;
    margin-left: 0;
  }

  .footer-subcribe {
    margin-left: 0;
  }

  .soc-container {
    margin-right: 80px;
  }
}
